

@media(max-width:1400px){
     .courre{
        margin-top: 24px;
     }
     .ima{
        margin-top: 17px;
     }
     .rimary{
        margin-top: 11px;
     }

}
@media(max-width:1397px){
    .try{
        font-size: 18px;
        margin-top: 4px;
      }
      .Rated{
        font-size: 10px;
      }
      .dawnload {
        font-size: 13px;
      }
      .paddi {
        padding: 0px 0px 7px 19px;
    }
    .Shipping img {
        height: 32px;
        width: 31px;
        margin-top: -18px;
    }
    .free {
        margin-top: -6px;
        font-size: 13px;
    }
    .freeee {
        margin-top: -13px;
        font-size: 13px;
    }
    .bg-img {
        background-image: url(img/m3-img.png);
        background-size: 103% auto;
        height: 143px;
        overflow: hidden;
    }
    .qr-code img {
        height: 75px;
        width: 65px;
    }
    .imary{
        margin-top: 14px;
    }
    .courre{
        margin-top: 5px;
     }
    .ima{
        margin-top: -5px;
    }
    .box-content p {
        font-weight: 500;
        font-size: 12px;
    }
}
@media(max-width:1193px){
      .try{
        font-size: 12px;
        margin-top: 2px;
      }
      .Rated{
        font-size: 8px;
        margin-left: 5px;
      }
      .dawnload {
        font-size: 10px;
      }
      .paddi {
        padding: 0px 0px 0px 11px;
    }
    .Shipping img {
        height: 27px;
        width: 27px;
        margin-top: -20px;
    }
    .free {
        margin-top: -3px;
        font-size: 10px;
    }
    .freeee {
        margin-top: -15px;
        font-size: 10px;
    }
    .bg-img {
        background-image: url(img/m3-img.png);
        background-size: 105% auto;
        height: 109px;
        overflow: hidden;
    }
    .qr-code img {
        height: 56px;
        width: 41px;
    }
    .imary{
        margin-top: 6px;
    }
}
@media(max-width:1200px){
    .one-box-content{
        font-size: 13px; 
    }
    .box-content p {
        font-weight: 500;
        font-size: 10px;
    }
    .istan{
        font-size: 10px;
    }
    .tuieee{
        font-size: 15px;
    }
}
@media (min-width: 992px) { 
    .custom-width {
        flex: 0 0 15%; 
        max-width: 12.5%;
    }
}
@media(max-width:991px){
    .carousel-inner {
        margin-top: 76px;
    }
    .right-nav{
        display: none;
    }
    .nav-section{
        display: none;
    }
    .top-nav-btm{
        display: none;
    }
    .search-one{
        display: block;
    }
    .search-one{
        position: fixed;
        width: 100%;
        z-index: 400;
    }
    .search-two{
        height: 60px;
        width: 100%;
        border-radius: 53px;
        border: 2px solid orangered;
        background: white;
    }
    .search-one{
        background: #199cb7;
        padding: 13px 32px;
        margin-top: -10px;
        
    }
    .searre{
        font-size: 45px;
        margin-left: 15px;
        margin-top: -7px;
    }

    .input-one{
        width: 72%;
    }
    .search{
        width: 94%;
        border: none;
        height: 36px;
        margin-left: 22px;
        font-size: 36px;
        margin-top: -7px;
    }
    .search-btn{
        margin-left: 10px;
    }
    .primary{
        padding: 7px 26px;
        border-radius: 34px;
        border: 1px solid orangered;
        background: orangered;
        color: white;
        font-size: 21px;
        font-weight: 600;
        margin-right: 5px;
    }
    .search-one{
        position: fixed;
        width: 100%;
        z-index: 400;
    }

    .secend-img img {
        height: 17vh;
    }

    .top-right-box{
        display: none;
    }
    .top-seleidor{
        padding: 11px 0px 34px 0px;
    }
       .proderhg{
           display: none;
       }
       .sale{
        display: none;
       }

    .seven-row{
        margin-top: 16px;
        
    }
    .seven-box-none{
        display: block;
        background: #f5f5f5;
    }
    .col-lg-2\.4 {
        flex: 0 0 20%; /* Same logic for large screens */
        max-width: 20%;
      }
      .seven-box-img img{
          height: 94px;
      }
      .seven-box:hover{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    }
    .positon-section{
        display: block;
    }
    .positon{
        background: #c6cad2;
    }
    .main-ul{
        font-size: 0;
        position: relative;
        transition-duration: .3s;
        white-space: nowrap;
        margin-left: -30px;
    }
    .main-con{
        text-align: center;
        padding: 0px 17px;  
    }
    .main-con:hover{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    }
    .positon-img img{
        width: 78px;
    }
    .positon-content p{
        font-size: 22px;
        color: rgba(0, 0, 0, 0.6);
        font-weight: 800;
    }
    .custom-widthhj {
        width: 25%; 
      }
      .Shop{
        display: block;
        font-size: 15px;
        font-weight: 500;
        margin-top: 22px;
      }
      .ara{
        font-size: 11px;
      }
      .one{
        padding: 10px;
        border-right: 1px solid white;
        border-bottom: 1px solid white; 
      }
      .one-box-img img{
        background: #f5f5f5;
        border-radius: 10px;
        margin-left: -3px;
      }
      .roeww{
        background: white;
      }
      .roeww .row{
        --bs-gutter-x: 0.5rem;
        --bs-gutter-y: 0.5rem;
    }
    .heare{
        display: none;
    }
    .one-box-content{
        margin-top: 10px;
    }
    .Categories{
        background: white;
    }
    .flash-one{
        display: block;
    }
    .one-box-img img{ 
        height: 70px;
        width: 73px;
    }
    .one-box-content{
        font-size: 10px; 
    }
   .flash-box{ 
        background: white;
        border-radius: 10px;
    }
    .flash-box-top-img{
        height: 165px;
   }
    .SEVE p{
        font-size: 12px;
        margin-left: 9px;
        }
    .flash-box-price{
        margin-top: -15px;
        font-size: 21px;
        margin-left: 14px;
        font-weight: 700;
    }
    .mine-price{
        font-size: 15px;
        margin-left: 16px;
        margin-top: -18px;
    }
    .for{
        display: none;
    }
    .verifi{
        margin-top: -4px;
        margin-bottom: 25px;
    }
    .Registration{
        margin-top: -4px;
    }
    .futter-last-img img{
        height: 40px;
        width: 40px;
    }
    .last-f{
        padding: 10px;
    }
    .futter-last-div{
        padding: 10px;
        background: white;
        display: block;
    }
    .futter-last-div{
        position: fixed;
        width: 100%;
        bottom: 0px;
        z-index: 1000;
    }
    .ffffff{
        height: 79px;
        background: white;
    }
    .masege-box{
        display: none;
    }
    .lg-last-top-futter{
        display: none;
    }
    .left-icon-box{
        display: none;
    }
  }
@media(max-width:785px){
    .main-ul{
        margin-left: -30px;
    }
  }
  @media (min-width: 768px) {
    .col-md-2\.4 {
      flex: 0 0 20%; /* Same logic for medium screens */
      max-width: 20%;
    }
    .seven-box-img img{
        height: 100px;
    }
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}
@media(max-width:766px){
        .flash-box-top-img{
                margin-left: 0px;
                background-size: 32% auto;
                height: 140px;
        }
        .SEVE p{
            font-size: 11px;
            margin-left: 10px;
        }
        .flash-box-price{
                margin-top: -39px;
                font-size: 20px;
                margin-left: 14px;
        }
        .mine-price{
                font-size: 15px;
                margin-left: 16px;
                margin-top: -18px;
        }
        .main-ul{
                margin-left: -32px;
        }
        .main-con{
            padding: 0px 17px;    
        }
        .positon-img img{
                width: 51px;
        }
        .positon-content p{
                font-size: 13px;
        }
        .Stock {
            font-size: 13px;
            font-weight: 600;
            line-height: 27px;
        }
        .futter-last-img img{
            height: 40px;
            width: 40px;
        }
        .secend-img img {
            height: 14vh;
        }
}
@media(max-width:581px){
        .flash-box-top-img{
            margin-left: 0px;
            background-size: 32% auto;
            height: 142px;
        }
        .SEVE p{
            font-size: 11px;
            margin-left: 10px;
        }
        .flash-box-price{
            margin-top: -39px;
            font-size: 20px;
            margin-left: 14px;

        }
        .mine-price{
            font-size: 15px;
            margin-left: 16px;
            margin-top: -18px;
        }
  }
  @media(max-width:576px){
    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .box-content p{
        font-size: 12px;
    }
    .col-sm-2\.4 {
        flex: 0 0 20%; /* 2.4 / 12 = 0.2 or 20% width */
        max-width: 20%;
      }
      .seven-box-img img{
          height: 94px;
      }
      .carousel-inner {
        margin-top: 41px;
    }
      .secend-img img {
        height: 13vh;
    }
    .last-f{
        flex: 0 0 auto;
        width: 25%;
    }
    .futter-last-img img{
        height: 40px;
        width: 40px;
    }
      .search-two{
        height: 39px;
    }
    .search-one{
        background: #199cb7;
        padding: 7px 11px;
    }
    .searre{
        font-size: 28px;
        margin-left: 8px;
        margin-top: -3px;
    }

    .input-one{
        width: 72%;
    }
    .search{
        height: 30px;
        margin-left: 8px;
        font-size: 17px;
    }
    .search-btn{
        margin-left: 10px;
    }
    .primary{
        padding: 1px 15px;
        font-size: 16px;
    }
    .search-one{
        position: fixed;
        width: 100%;
        z-index: 400;
    }
}
  @media(max-width:550px){
        .one-box-img img{ 
            height: 70px;
            width: 73px;
        }
        .one-box-content{
            font-size: 10px; 
        }
        .flash-box{ 
            background: white;
        }
        .flash-box-top-img{
            height: 140px;
        }
        .SEVE p{
            font-size: 12px;
            margin-left: 9px;
        }
        .flash-box-price{
            margin-top: -34px;
            font-size: 21px;
            margin-left: 14px;
            font-weight: 700;
        }
        .mine-price{
            font-size: 15px;
            margin-left: 16px;
            margin-top: -18px;
        }
        .Stock {
            font-size: 11px;
            font-weight: 600;
            line-height: 27px;
        }
}
@media(max-width:450px){
        .one-box-img img{ 
            height: 70px;
            width: 73px;
        }
        .one-box-content{
            font-size: 8px;
        }
        .flash-box{ 
            background: white;
        }
        .flash-box-img img{
            height: 27.46667vw;
            overflow: hidden;
            margin-top: -165px;
            border-radius: 5px;
        }
        .flash-box-top-img{
            height: 124px;
        }
        .SEVE p{
            font-size: 7px;
            margin-left: 6px;
        }
        .pers{
            margin-top: -20px;
        }
        .flash-box-price{
            font-size: 19px;
            margin-left: 10px;
            margin-top: -53px;
        }
        .box-price{
            font-size: 23px;
            font-weight: 900;
            margin-right: 3px;
        }
        .mine-price{
            font-size: 14px;
            margin-left: 11px;
            margin-top: -22px;
        }
        .maines{
            height: 3px;
            background: #c6cad2;
            margin-top: -29px;
            width: 35px;
        }
        .box-end{
            height: 30px;
            border-radius: 10px;
            width: 80%;
            margin-top: 13px;
            background: #fe4960;
            color: white;
        }
        .hot img{
            height: 26px;
            margin-top: -21px;
        }
        .Stock {
            font-size: 8px;
            line-height: 16px;
            margin-left: 7px;
        }
        .box-end{
            height: 15px;
            margin-top: 8px;  
        }
        .main-con{
            padding: 0px 9px;    
        }
        .positon-img img{
            width: 46px;
        }
        .positon-content p{
            font-size: 13px;
        }
}
@media(max-width:412px){
    .flash-box-top-img{
        height: 121px;
    }
  }
@media(max-width:375px){
    .main-con{
        padding: 0px 8px;
    }
    .search-one{
        position: fixed;
        width: 100%;
        z-index: 400;
    }
    .flash img{
        height: 16px;
    }
    .flash-box-price{
        margin-top: -61px;
    }
    .flash-box-top-img{
        height: 120px;
    }
    .futter-last-img img{
        height: 40px;
        width: 40px;
    }
}
@media(max-width:360px){
        .flash-box-top-img{
            height: 116px;
        }
        .main-con{
            padding: 0px 6px;    
        }
        .Shopppp {
            font-size: 15px;
            margin-top: 32px;
        }
}
@media(max-width:360px){
    .main-con{
        padding: 0px 4px;    
    }
}
@media(max-width:344px){
    .flash-box-top-img{
        height: 116px;
    }
    .main-con{
        padding: 0px 6px;    
    }
    .Shopppp {
        font-size: 15px;
        margin-top: 32px;
    }
    .SEVE p {
        font-size: 5px;
        margin-left: 5px;
        line-height: 11px;
    }
}
@media (min-width: 340px) {
    .col-sm-2\.4 {
      flex: 0 0 20%; /* 2.4 / 12 = 0.2 or 20% width */
      max-width: 20%;
    }
    .seven-box-section{
        display: block;
    }
    .seven-box{
        text-align: center;
    }
    .seven-row .row{
        --bs-gutter-x: 0rem;
        --bs-gutter-y: 1rem;
    }
    .seven-box-img img{
        height: 48px;
    }
    .seven-box-content p{
        font-size: 13px;
        font-weight: 600;
    }
    .Arrivals{
        margin-top: -19px;
    }
    .seven-box-content .Fun{
        font-size: 12px;
    }
  }
